In [1]:
from pandas import read_csv 
import numpy as np

In [15]:
#df = read_csv('international-airline-passengers.csv', usecols=[1])
df = read_csv('international-airline-passengers.csv')


df

,Month,International airline passengers: monthly totals in thousands. Jan 49 ? Dec 60
0,1949-01,112
1,1949-02,118
2,1949-03,132
3,1949-04,129
4,1949-05,121
5,1949-06,135
6,1949-07,148
7,1949-08,148
8,1949-09,136
9,1949-10,119
10,1949-11,104
11,1949-12,118
12,1950-01,115
13,1950-02,126
14,1950-03,141
15,1950-04,135
16,1950-05,125
17,1950-06,149
18,1950-07,170
19,1950-08,170
20,1950-09,158
21,1950-10,133
22,1950-11,114
23,1950-12,140
24,1951-01,145
25,1951-02,150
26,1951-03,178
27,1951-04,163
28,1951-05,172
29,1951-06,178
...,...,...
114,1958-07,491
115,1958-08,505
116,1958-09,404
117,1958-10,359
118,1958-11,310
119,1958-12,337
120,1959-01,360
121,1959-02,342
122,1959-03,406
123,1959-04,396
124,1959-05,420
125,1959-06,472
126,1959-07,548
127,1959-08,559
128,1959-09,463
129,1959-10,407
130,1959-11,362
131,1959-12,405
132,1960-01,417
133,1960-02,391
134,1960-03,419
135,1960-04,461
136,1960-05,472
137,1960-06,535
138,1960-07,622
139,1960-08,606
140,1960-09,508
141,1960-10,461
142,1960-11,390
143,1960-12,432

In [16]:
values = df.values.astype('float32')
values.shape

ValueError: could not convert string to float: '1960-12'

In [4]:
train_size = int((values.shape[0] * 0.67))
test_size = values.shape[0]  - train_size
train = values[0:train_size]
test = values[train_size:]

In [5]:
from sklearn.preprocessing import MinMaxScaler
scaler = MinMaxScaler(feature_range =(0,1))
train = scaler.fit_transform(train)
test = scaler.transform(test)

In [7]:
def create_dataset(data, k):
    dataX, dataY = [],[]
    for i in range(data.shape[0] - k):
        x = data[i:i + k, 0]
        y = data[i + k, 0]
        dataX.append(x)
        dataY.append(y)
    return np.array(dataX), np.array(dataY)

In [8]:
look_back = 12
trainX, trainY = create_dataset(train, look_back)
testX, testY = create_dataset(test, look_back)

In [9]:
trainX = np.reshape(trainX, (trainX.shape[0], trainX.shape[1], 1))
testX = np.reshape(testX, (testX.shape[0], testX.shape[1], 1))
trainX.shape

(84, 12, 1)

In [12]:
from keras.models import Sequential
from keras.layers import SimpleRNN, Dense

In [28]:
model = Sequential()
model.add(SimpleRNN(4, input_shape=(look_back, 1)))
model.add(Dense(1))
model.compile(loss='mean_squared_error', optimizer='adam')
model.fit(trainX, trainY, epochs=10, batch_size = 1, validation_data=(testX, testY))
model.summary()

Train on 84 samples, validate on 36 samples
Epoch 1/10
84/84 [==============================] - 1s 7ms/step - loss: 0.0181 - val_loss: 0.1854
Epoch 2/10
84/84 [==============================] - 0s 3ms/step - loss: 0.0138 - val_loss: 0.1779
Epoch 3/10
84/84 [==============================] - 0s 3ms/step - loss: 0.0128 - val_loss: 0.1770
Epoch 4/10
84/84 [==============================] - 0s 3ms/step - loss: 0.0122 - val_loss: 0.1675
Epoch 5/10
84/84 [==============================] - 0s 3ms/step - loss: 0.0114 - val_loss: 0.1689
Epoch 6/10
84/84 [==============================] - 0s 3ms/step - loss: 0.0112 - val_loss: 0.1574
Epoch 7/10
84/84 [==============================] - 0s 3ms/step - loss: 0.0104 - val_loss: 0.1440
Epoch 8/10
84/84 [==============================] - 0s 3ms/step - loss: 0.0098 - val_loss: 0.1351
Epoch 9/10
84/84 [==============================] - 0s 3ms/step - loss: 0.0095 - val_loss: 0.1377
Epoch 10/10
84/84 [==============================] - 0s 3ms/step - loss: 0.0089 - val_loss: 0.1270
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
simple_rnn_2 (SimpleRNN)     (None, 4)                 24
_________________________________________________________________
dense_2 (Dense)              (None, 1)                 5
=================================================================
Total params: 29
Trainable params: 29
Non-trainable params: 0
_________________________________________________________________

In [17]:
y_pred = model.predict(testX)

In [29]:
score = model.evaluate(testX,testY)
score

36/36 [==============================] - 0s 136us/step

0.12700668474038443